<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block messages %}
        <h1>Диалоги</h1>
    <table>
        {% for user in recipients %}
            <tr>
                <td><a href="/chat.html?chat_id={{user.id}}"> {{user.login}} </a></td>
                <td><a href="/delete_dialog?chat_id={{user.id}}"> Удалить чат с {{user.login}} </a> </td>
            </tr>
        {% endfor %}
        {% for user in senders %}
            <tr>
                <td><a href="/chat.html?chat_id={{user.id}}"> {{user.login}} </a></td>
                <td><a href="/delete_dialog?chat_id={{user.id}}"> Удалить чат с {{user.login}} </a> </td>
            </tr>
        {% endfor %}
    </table>

    <h1>Новый диалог</h1>
    <form action="/new_dialog" method="POST">
        <input list="login" name="login">
        <datalist id="login">
            {% for user in users %}
            <option> {{user.login}} </option>
            {% endfor %}
        </datalist>
        <input type="submit">
    </form>
    {% endblock %}
</body>
</html>
